.right-header{
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 10px;
}
.right-header h4{
    color: white;
}
.right-header p{
    color: #b3b3b3;
    font-size: 10px;
    margin-bottom: 2px;
    margin-right: 3px;
    cursor: pointer;
    transition: all ease 0.15s;
}
.right-header p:hover{
    text-decoration: underline;
}

.artist{
    width: 100%;
    display: grid;
    padding-left: 10px;
    margin-bottom: 15px;
    /* column-gap: 16px; */
    grid-template-columns: repeat(7,1fr);
}
.artist-card{
    height: 180px;
    width: 150px - 16px;
}
.image{
    height: 135px;
    width: 135px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid{
    transition: all ease 0.15s;
    min-width: calc(135px + 16px);
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 5px;
    cursor: pointer;
}
.grid:hover{
    background-color: #61616117;
}
.image img{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-content h6{
    color: white;
}

.text-content{
    padding-top: 5px;
    display: -webkit-box; /* Use a flex-like box model */
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
    overflow: hidden; /* Hide the overflowing content */
    text-overflow: ellipsis; /* Show ellipsis (...) at the end */
}
.text-content p{
    color: #b3b3b3;
    font-size: 10px;
    margin-top: 6px;
}
.popular-albums .image img{
    border-radius: 5px;
}

